{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "mocha": true
  },
  "rules": {
    "prettier/prettier": ["error"]
  },
  "globals": {
    "cy": "readonly"
  }
}
