{:server               {:http {:port 19033}}
 :log                  {:base-path "/root/logs"}
 :db                   {:username      "postgres_user"
                        :password      "postgres_password"
                        :database-name "hakukohderyhmapalvelu"
                        :host          "hakukohderyhmapalvelu-e2e-db"
                        :port          5432}
 :cas                  {:username "cas_username"
                        :password "cas_password"
                        :services {:organisaatio-service {:service-url-property :cas.service.organisaatio-service
                                                          :session-cookie-name  "SESSION"}}}
 :urls                 {:virkailija-baseurl "http://localhost"}
 :oph-organisaatio-oid "1.2.246.562.10.00000000001"
 :public-config        {:environment :it}}
