{:server               {:http {:port 19033}}
 :log                  {:base-path "/root/logs"}
 :db                   {:username      "postgres_user"
                        :password      "postgres_password"
                        :database-name "hakukohderyhmapalvelu"
                        :host          "localhost"
                        :port          5432}
 :cas                  {:username "cas_username"
                        :password "cas_password"
                        :services {:organisaatio-service  {:service-url-property :cas.service.organisaatio-service
                                                           :session-cookie-name  "SESSION"}
                                   :kayttooikeus          {:service-url-property :cas.service.kayttooikeus-service
                                                           :session-cookie-name  "JSESSIONID"}
                                   :oppijanumerorekisteri {:service-url-property :cas.service.oppijanumerorekisteri
                                                           :session-cookie-name  "JSESSIONID"}}}
 :urls                 {:virkailija-baseurl        "http://localhost"
                        :hakukohderyhmapalvelu-url "http://localhost:19033/hakukohderyhmapalvelu"}
 :oph-organisaatio-oid "1.2.246.562.10.00000000001"
 :public-config        {:environment   :it
                        :default-panel :panel/hakukohderyhmien-hallinta
                        :caller-id     "1.2.246.562.10.00000000001.hakukohderyhmapalvelu.frontend"}}
