<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style id="_stylefy-constant-styles_"></style>
    <style id="_stylefy-styles_"></style>
    <title>Hakukohderyhmäpalvelu</title>
    <script src="/hakukohderyhmapalvelu/js/vendor/oph_urls.js?fingerprint={{cache-fingerprint}}"></script>
    <script type="text/javascript">
      const frontendConfig = {{ frontend-config|safe }}
      window.urls.addProperties({{front-properties|safe}})
    </script>
  </head>
  <body>
    <div id="app"></div>
    {% if apply-raamit %}<script src="/virkailija-raamit/apply-raamit.js?fingerprint={{cache-fingerprint}}"></script>{% endif %}
    <script src="/hakukohderyhmapalvelu/js/compiled/hakukohderyhmapalvelu.js?fingerprint={{cache-fingerprint}}"></script>
  </body>
</html>
