name: Hakukohderyhmapalvelu

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '**.md'

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'corretto'

      - uses: pnpm/action-setup@v4
        name: Install pnpm

      - uses: actions/setup-node@v6
        with:
          node-version: latest

      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@12.5
        with:
          lein: 2.9.3

      - uses: szenius/set-timezone@v1.2
        with:
          timezoneLinux: "Europe/Helsinki"

      # Remove following in the future (and update script in package.json), it installs chrome version 116 as the current 117 has bug
      - uses: browser-actions/setup-chrome@v1
        with:
            chrome-version: 1160321
        id: setup-chrome
      - run: |
          echo Installed chromium version: ${{ steps.setup-chrome.outputs.chrome-version }}
          echo Installed chromium path: ${{ steps.setup-chrome.outputs.chrome-path }}
          which chromium
          chromium --version
          

      - name: Build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pnpm install
          ./bin/cibuild.sh run-all-tests-and-create-uberjar

      - name: Archive test results
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-snapshots
          path: cypress/screenshots
          retention-days: 4

      - uses: actions/cache@v4
        id: restore-build
        with:
          path: target
          key: ${{ github.sha }}

      - uses: actions/cache@v4
        id: ci-tools
        with:
          path: ci-tools
          key: ${{ github.sha }}

  deploy-container:
    needs: [build]
    uses: Opetushallitus/.github/.github/workflows/push-scan-java-ecr.yml@main
    with:
      application: hakukohderyhmapalvelu
      base-image: baseimage-fatjar-openjdk11:master
      configfolder: oph-configuration
      jarfile: hakukohderyhmapalvelu
    secrets:
      AWS_UTILITY_ROLE_ARN: ${{ secrets.AWS_OPH_UTILITY_ROLE_ARN }}

  deploy-ovara-container:
    needs: [ build ]
    uses: Opetushallitus/.github/.github/workflows/push-scan-java-ecr.yml@main
    with:
      application: ovara-hakukohderyhmapalvelu
      base-image: baseimage-fatjar-openjdk11:master
      configfolder: ovara-oph-configuration
      jarfile: ovara-hakukohderyhmapalvelu
    secrets:
      AWS_UTILITY_ROLE_ARN: ${{ secrets.AWS_OPH_UTILITY_ROLE_ARN }}
